/* .header{
    display:flex;
    justify-content: space-between;
  } */
 /*  .table{
    margin-left: 10%;
 margin-top: 10%;
 border: 2px solid; 

  } */
 /*  .profil{
    margin-left: 5%;
  }
  .end{
    margin-right: 5%;
  } */
 p{
    margin-top: -5px;
    font-size: 20px;
  }
  h3{

  font-size: 45px;
  color: white;
  display: flex;
justify-content: center;
  }

/* 
  #rech{
    background-color:  blue;
    font-size: 20px;
  
  }
  */