<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">email</th>
            <th scope="col">telephone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>soumbane</td>
            <td>awa</td>
            <td>awasoumbane281@gmail.com</td>
            <td>77-380-53-81</td>
            <i class="bi bi-star-fill"></i>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>sy</td>
            <td>Ndeye bougouma</td>
            <td>bougouma@gmail.com</td>
            <td>78-455-44-72</td>
      
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >soumbane</td>
            <td>katy</td>
            <td>katy@gmail.com</td>
            <td>77-152-83-32</td>
          </tr>
        </tbody>
      </table>
</body>
</html>
